<div class="container__big-card">

  <div class="big-card__photo">
    <img
      src="https://es.web.img3.acsta.net/r_654_368/newsv7/20/05/07/12/52/3980724.jpg"
      alt=""
      srcset=""
    >
  </div>

  <div class="big-card__title">
    <h1><a href="#">Saiu a nova versão do Angular</a></h1>
  </div>

  <div class="big-card__description">
    <P>
      <a href="#">
      Nova versão já disponível com correções de bugs e novas funções!
      A nova versão está mais renderizada e compacta.
      </a>
  </div>
</div>
